<template>
  <div>
    <b-breadcrumb :items="breadcrumbs" />
    <List :books="books" />
  </div>
</template>

<script>
import List from '@/components/List'

export default {
  components: {
    List
  },
  data () {
    return {
      books: [],
      breadcrumbs: [
        {
          text: 'Home',
          to: '/'
        },
        {
          text: 'Books',
          active: true
        }
      ]
    }
  },
  async asyncData (context) {
    try {
      const result = await context.$axios.$get(`/volumes?q=${context.params.query}&key=${process.env.googleApiKey}`)
      return {
        books: result.items
      }
    } catch (res) {
      console.warn('[ERROR] /books/_query: ', res.response.data.error)
    }
  }
}
</script>
