<template>
  <div>
    <b-breadcrumb :items="breadcrumbs" />
    <List :books="books" />
  </div>
</template>

<script>
import List from '@/components/List'

export default {
  components: {
    List
  },
  middleware: 'security',
  data () {
    return {
      books: [],
      breadcrumbs: [
        {
          text: 'Home',
          to: '/'
        },
        {
          text: 'My library',
          active: true
        }
      ]
    }
  },
  async asyncData (context) {
    try {
      const result = await context.$axios.$get(`/mylibrary/bookshelves/0/volumes?key=${process.env.googleApiKey}`)
      return {
        books: result.items
      }
    } catch (res) {
      console.warn('[ERROR] /library: ', res.response.data.error)
    }
  }
}
</script>
