<template>
  <b-list-group horizontal>
    <b-list-group-item
      v-for="button in buttons"
      :key="button.text"
      button
      :variant="button.variant"
      :disabled="clicked.includes(button.text)"
      @click.prevent="handleClick(button)"
    >
      {{ button.text }}
    </b-list-group-item>
  </b-list-group>
</template>

<script>
export default {
  props: {
    buttons: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      clicked: []
    }
  },
  methods: {
    handleClick (button) {
      this.clicked.push(button.text)
      button.clickHandler()
    }
  }
}
</script>
