<template>
  <b-container fluid>
    <b-row>
      <h1 class="main-text">
        Book Library
      </h1>
      <p class="main-text">
        Create your own library!
      </p>
    </b-row>
    <Search :search-click="getSearchResults" />
  </b-container>
</template>

<script>
import Search from '@/components/Search'

export default {
  components: {
    Search
  },
  methods: {
    getSearchResults (query) {
      this.$router.push(`/books/${query}`)
    }
  }
}
</script>

<style scoped>
  .main-text {
    width: 100%;
    text-align: left;
  }
</style>
