<template>
  <b-container fluid>
    <b-row v-if="books.length > 0">
      <b-card
        v-for="book in books"
        :key="book.id"
        :title="!book.volumeInfo.title ? null : book.volumeInfo.title | title"
        :img-src="book.volumeInfo.imageLinks ? book.volumeInfo.imageLinks.thumbnail : null"
        :img-alt="book.volumeInfo.title ? book.volumeInfo.title : null"
        img-left
        tag="article"
        class="col-sm-12 col-xl-4 col-md-6"
        @click.prevent="previewBook(book.id)"
      >
        <b-card-text>
          {{ book.volumeInfo.description | textExcerpt }}
        </b-card-text>

        <b-button variant="primary" @click.prevent="previewBook(book.id)">
          Read more
        </b-button>
      </b-card>
    </b-row>
    <b-row v-if="books.length === 0">
      <h2>This list is empty</h2>
    </b-row>
  </b-container>
</template>

<script>
export default {
  filters: {
    textExcerpt (value) {
      return value ? value.substring(0, 100) + '...' : value
    },
    title (value) {
      return value ? value.substring(0, 30) + '...' : value
    }
  },
  props: {
    books: {
      type: Array,
      default () {
        return []
      }
    }
  },
  methods: {
    previewBook (id) {
      let prefix = '/books'
      if (this.$route.path.includes('/library')) {
        prefix = this.$route.path
      }
      this.$router.push(`${prefix}/book/${id}`)
    }
  }
}
</script>

<style scoped>
  article {
    text-align: left;
    cursor: pointer;
    transition: background-color 200ms ease-in-out;
  }
  article:hover {
    background-color: #dee2e6;
  }
  img {
    min-height: 196px;
    min-width: 128px;
    align-self: center;
  }
  .card-body {
    overflow: hidden;
  }
  .row {
    padding: 1rem 0;
  }
  .btn.btn-primary {
    align-self: flex-end;
  }
</style>
