<template>
  <b-navbar toggleable="lg" type="dark" variant="info">
    <b-navbar-brand to="/">
      Home
    </b-navbar-brand>

    <b-navbar-toggle target="nav-collapse" />

    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <div v-if="!imageUrl || !name">
          <GoogleLogin :params="{}" :render-params="renderParams" :on-success="onSuccess" :on-failure="onFailure" />
        </div>
        <b-nav-item-dropdown v-if="imageUrl || name" right>
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            <img :src="imageUrl">
            <em>{{ name }}</em>
          </template>
          <b-dropdown-item to="/library">
            My Library
          </b-dropdown-item>
          <b-dropdown-item @click="logout">
            Sign Out
          </b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import Vue from 'vue'
import GoogleLogin from 'vue-google-login'

export default {
  components: {
    GoogleLogin
  },
  data () {
    const user = this.$store.getters.user
    return {
      errorMessage: null,
      renderParams: {
        width: 200,
        height: 40,
        longtitle: true
      },
      imageUrl: user ? user.avatar : null,
      name: user ? user.name : null
    }
  },
  beforeCreate () {
    if (process.client && !this.$store.getters.user) {
      Vue.GoogleAuth
        .then((auth2) => {
          if (auth2.isSignedIn.get()) {
            return this.prepareUser(auth2.currentUser.get())
          }

          return null
        })
        .then((user) => {
          if (user) {
            this.setUser(user)
          }
        })
        .catch((error) => {
          console.warn('beforeCreate google error', error)
        })
    }
  },
  methods: {
    setUser (user = {}) {
      this.$store.dispatch('setUser', user)
      this.imageUrl = user.avatar ? user.avatar : null
      this.name = user.name ? user.name : null
    },
    prepareUser (data) {
      const profile = data.getBasicProfile()
      const auth = data.getAuthResponse(true)
      this.$cookies.set('token', auth.access_token, { maxAge: auth.expires_in })
      this.$cookies.set('userId', profile.getId(), { maxAge: auth.expires_in })
      this.$cookies.set('userImg', profile.getImageUrl(), { maxAge: auth.expires_in })
      this.$cookies.set('userName', profile.getGivenName(), { maxAge: auth.expires_in })
      return {
        token: auth.access_token,
        id: profile.getId(),
        avatar: profile.getImageUrl(),
        name: profile.getGivenName()
      }
    },
    logout () {
      Vue.GoogleAuth.then((auth2) => {
        auth2.signOut().then(() => {
          this.setUser()
          this.$cookies.removeAll()
        })
      })
    },
    onSuccess (data) {
      this.setUser(this.prepareUser(data))
    },
    onFailure (data) {
      this.errorMessage = data.error
    }
  }
}
</script>

<style scoped>
  img {
    height: 20px;
    border-radius: 50%;
    vertical-align: text-top;
  }
</style>
