<template>
  <b-row>
    <b-input-group prepend="Books">
      <b-form-input id="searchInput" v-model="query" placeholder="What book do you search?" @keydown.enter="query.length > 0 ? searchClick(query) : null" />
      <b-input-group-append>
        <b-button variant="outline-success" :disabled="query === ''" @click.prevent="searchClick(query)">
          Search
        </b-button>
      </b-input-group-append>
    </b-input-group>
  </b-row>
</template>

<script>
export default {
  props: {
    searchClick: {
      type: Function,
      default () {}
    }
  },
  data () {
    return {
      query: ''
    }
  }
}
</script>
