<template>
  <div>
    <b-breadcrumb>
      <b-breadcrumb-item text="Home" to="/" />
      <b-breadcrumb-item text="Books" @click="$router.back" />
      <b-breadcrumb-item text="Book" active />
    </b-breadcrumb>
    <b-container fluid>
      <b-row>
        <b-card
          :title="book.volumeInfo.title"
          :img-src="book.volumeInfo.imageLinks ? book.volumeInfo.imageLinks.thumbnail : null"
          :img-alt="book.volumeInfo.title ? book.volumeInfo.title : null"
          img-left
          tag="article"
        >
          <b-card-text v-html="book.volumeInfo.description ? book.volumeInfo.description : null" />
        </b-card>
      </b-row>
      <ActionButtons :buttons="buttons" />
    </b-container>
  </div>
</template>

<script>
import ActionButtons from '@/components/ActionButtons'

export default {
  components: {
    ActionButtons
  },
  data () {
    return {
      book: {
        type: Object,
        default: {}
      },
      buttons: [
        {
          text: 'Back to list',
          variant: 'warning',
          clickHandler: () => {
            this.$router.back()
          }
        },
        {
          text: 'Add to my library',
          variant: 'success',
          clickHandler: () => {
            this.$axios.$post(`/mylibrary/bookshelves/0/addVolume?volumeId=${this.$route.params.id}&key=${process.env.googleApiKey}`)
              .then(() => {
                this.$router.back()
              })
              .catch((error) => {
                console.warn('[ERROR] /books/book/_id: ', error)
              })
          }
        }
      ]
    }
  },
  async asyncData (context) {
    try {
      const book = await context.$axios.$get(`/volumes/${context.params.id}?key=${process.env.googleApiKey}`)
      return {
        book
      }
    } catch (res) {
      console.warn('[ERROR] /books/book/_id: ', res.response.data.error)
    }
  }
}
</script>

<style scoped>
  article {
    text-align: left;
    border: none;
  }
  img {
    min-height: 196px;
    min-width: 128px;
    align-self: center;
  }
  .row {
    padding: 1rem;
  }
</style>
